In [26]:
import pandas as pd
import numpy as np
import os

In [27]:
path = r'/Users/andrew/Documents/Data Analyst Course/Data Immersion/Achievement 4/Instacart Basket Analysis'

In [28]:
ords_prods_merged = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [29]:
ords_prods_merged['prices'].max()

99999.0

In [30]:
ords_prods_merged.shape

(32435059, 14)

In [31]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [32]:
ords_prods_merged.loc[ords_prods_merged['prices'] >100, 'prices'] = np.nan

In [33]:
df_2 = ords_prods_merged

In [34]:
df_2['prices'].max()

25.0

In [35]:
df_2.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))

In [18]:
df_2.

99999.0

In [13]:
df = ords_prods_merged[:1000000]

# Exercise 4.7 demo

In [10]:
def price_label(row):

    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return np.nan

In [11]:
df['price_range'] = df.apply(price_label, axis=1)

KeyboardInterrupt:

In [ ]:
df['price_range'].value_counts(dropna = False)

In [ ]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [ ]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [ ]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [ ]:
df['price_range_loc'].value_counts(dropna = False)

In [ ]:
ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

In [ ]:
result = []

for value in ords_prods_merged["orders_day_of_week"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regularly busy")

In [ ]:
result

In [ ]:
ords_prods_merged['busiest_day'] = result

In [ ]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

# 4.7 Task

In [ ]:
# 2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column.
# Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the
# two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to
# know the two slowest days. Create a new column for this using a suitable method.

In [19]:
result = []

for value in ords_prods_merged["orders_day_of_week"]:
    if value == 0 or value == 1:
        result.append("Busiest days")
    elif value == 3 or value == 4:
        result.append("Least busy")
    else:
        result.append("Regularly busy")

In [29]:
ords_prods_merged['busiest_days'] = result

In [30]:
ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    12927862
Busiest days      11875759
Least busy         7631438
Name: busiest_days, dtype: int64

In [43]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,both,Regularly busy,Regularly busy
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Regularly busy,Regularly busy
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Regularly busy,Regularly busy
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Regularly busy,Regularly busy
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Regularly busy,Regularly busy

In [44]:
ords_prods_merged = ords_prods_merged.drop('busiest_day', 1)

In [45]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,both,Regularly busy
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Regularly busy
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Regularly busy
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Regularly busy
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Regularly busy

In [ ]:
# 4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer
# at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time
# labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels
# called “busiest_period_of_day.”

In [46]:
ords_prods_merged['order_time'].value_counts(dropna = False)

10    2764476
11    2738647
14    2691598
15    2664583
13    2663346
12    2620898
16    2537506
9     2456751
17    2089510
8     1719991
18    1637956
19    1259416
20     977049
7      891951
21     796379
22     634743
23     402621
6      290796
0      218951
1      115787
5       88064
2       69435
4       53284
3       51321
Name: order_time, dtype: int64

In [21]:
result = []

for value in ords_prods_merged["order_time"]:
    if value == 10 or value == 11 or value == 14 or value == 15 or value == 13 or value == 12 or value == 16 or value == 9 or value == 17 or value == 8 or value == 18 or value == 19:
        result.append("Most orders")
    elif value == 3:
        result.append("Fewest orders")
    else:
        result.append("Average orders")

In [22]:
ords_prods_merged["busiest_period_of_day"] = result

In [ ]:
# 5. Print the frequency for this new column.

In [23]:
ords_prods_merged["busiest_period_of_day"].value_counts(dropna = False)

Most orders       573068
Average orders    425450
Fewest orders       1482
Name: busiest_period_of_day, dtype: int64

In [61]:
ords_prods_merged.describe()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.243506e+07,3.243506e+07,3.243506e+07,3.243506e+07,3.243506e+07,3.035696e+07,3.243506e+07,3.243506e+07,3.243506e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710748e+06,1.029372e+05,1.714195e+01,2.738815e+00,1.342498e+01,1.110414e+01,2.557635e+04,8.351081e+00,5.896955e-01,7.119612e+01,9.919792e+00,1.198023e+01
std,9.873006e+05,5.946651e+04,1.753496e+01,2.090051e+00,4.246357e+00,8.778941e+00,1.409657e+04,7.126656e+00,4.918889e-01,3.821139e+01,6.281485e+00,4.956554e+02
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559430e+05,5.142000e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.353200e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.711047e+06,1.026110e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.525600e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565514e+06,1.543910e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.793500e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04

In [ ]:
# 5. Export your dataframe as a pickle file (since you added new columns) and store it correctly in
# your “Prepared Data” folder.

In [62]:
ords_prods_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))